* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    /* background-color: black; */
    /* color: white; */
  }
  .dark-mode {
    background-color: black;
    color: white;
  }
  #darkMode img{
    width: 20px;
  }
  h1 {
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #979292ba;
  }
  
  ul li {
    padding: 5px;
    background: #979292ba;
    margin: 5px 0;
  }
  td {
    padding: 5px; 
    text-align: center;
    background-color: rgb(129, 122, 122);
    width: 200px;
  }
  th {
    padding: 5px; 
    text-align: center;
    background-color: rgb(129, 122, 122);
    /* width: 500px; */
  }
 
  
  header, footer {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  .gallery {
    margin: auto;
    width: 1100px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  #my-form {
    padding: 2rem;
    background: #f4f4f4;
    /* line-height: 2rem; */
  }
  
  #my-form label {
    display: block;
  }
  
  #my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  #my-form select[name="state"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .btn:hover {
    background: #444;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #979292ba;
    padding: 5px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #f4f4f4;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .darkMode {
    background: black;
    color: white;
  }
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px 0;
  }
  /* #course label {
    margin-left: 30px;
  } */